---
layout: default
title: Home
---


<div style="width: 65%; float:left">
   <p>
	I'm a Computer Science PhD student at Princeton, where I'm interested in statistics and machine learning and their applications in science and engineering. I'm advised by <a href="https://beehive.cs.princeton.edu/">Barbara Engelhardt</a>. Previously, I studied Computer Science and Neuroscience at Brown and worked at the <a href="http://cancerdatascience.org/">Broad Institute</a>.
	</p>

	<p>
	I'm currently most interested in building statistical models that account for common types of structure in large datasets, <a href="https://arxiv.org/abs/2012.07977">such</a> <a href="https://arxiv.org/abs/2102.06731">as</a> <a href="https://arxiv.org/abs/2110.08411">group</a> <a href="https://arxiv.org/abs/2110.02879">structure</a>.
	</p>
	<!-- <p>
	I also maintain a <a href="https://andrewcharlesjones.github.io/menu/blog.html">technical blog</a> where I focus on intuition building, visualizations, and implementations for statistical ideas.
	</p> -->
</div>

<div style="width: 25%; float:right">
   <img src="/assets/IMG_0156.JPG" width=100% align="right">
</div>


<!-- <img style="margin-bottom:5cm" src="/assets/IMG_0156.JPG" width=25% align="right" HSPACE="50">
<p>
I'm interested in statistics and machine learning and their applications in science and engineering. I'm currently a Computer Science PhD student at Princeton advised by <a href="https://beehive.cs.princeton.edu/">Barbara Engelhardt</a>. Previously, I studied Computer Science and Neuroscience at Brown University and worked at the <a href="http://cancerdatascience.org/">Broad Institute</a>.
</p>

<p>
I'm currently most interested in building statistical models that account for common types of structure in large datasets, <a href="https://arxiv.org/abs/2012.07977">such</a> <a href="https://arxiv.org/abs/2102.06731">as</a> <a href="https://arxiv.org/abs/2110.08411">group</a> <a href="https://arxiv.org/abs/2110.02879">structure</a>.
</p>

<p>
I also maintain a <a href="https://andrewcharlesjones.github.io/menu/blog.html">technical blog</a> where I focus on intuition building, visualizations, and implementations for statistical ideas.
</p>
 -->
<!-- <center>
<img class="profilepic" src="/assets/IMG_0156.JPG" width=30% VSPACE="50"/>
</center> -->