---
layout: default
title: Home
---

<p>
I'm interested in statistics and machine learning and their applications to biomedicine. I'm currently a Computer Science PhD student at Princeton advised by <a href="https://beehive.cs.princeton.edu/">Barbara Engelhardt</a>. Previously, I studied Computer Science and Neuroscience at Brown University.
</p>

<p>
I'm currently most interested in building statistical models that account for common types of structure in biomedical datasets, such as <a href="https://arxiv.org/abs/2012.07977">group</a> <a href="https://arxiv.org/abs/2102.06731">structure</a>.
</p>

<p>
I also maintain a <a href="https://andrewcharlesjones.github.io/menu/blog.html">technical blog</a> where I focus on intuition-building, visualizations, and implementations for statistical ideas.
</p>

<center>
<img class="profilepic" src="/assets/IMG_3993.JPG" width=40% VSPACE="50"/>
</center>